.articulos-container{
     width: 100%;
     height: auto;
     min-height: 90vh;
}


.banner-articulo{
     height: 550px;
     position: relative;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: .3s;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     color: #fff;
     font-family: var(--main-font);
}

.oscurecer{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     right: 0;
     background-color: #00000065;
     z-index: 10;
     transition: .2s;

}

.banner-articulo h2{
     z-index: 300;
     font-size: 48px;
     z-index: 30;
     text-align: center;
}

.banner-articulo p{
     font-size: 20px;
     z-index: 30;
     width: 60%;
     text-align: center;

}

.banner-articulo a{
     z-index: 20;
}

.banner-articulo a button{
     width: 200px;
     height: 50px;
     border-radius: 10px;
     border: 3px solid #fff;
     background-color: var(--azul);
     color: #fff;
     transition: .3s;

}

.banner-articulo button:hover{
     transform: scale(1.1);
}

.articulo1{
     background-image: url("../images/bannersArticulos/Artículo\ Glucosamine.png");
}

.articulo2{
     background-image: url("../images/bannersArticulos/Artículo\ Colágeno1.png");
}

.articulo3{
     background-image: url("../images/bannersArticulos/Artículo\ Colágeno2.png");
}

.articulo4{
     background-image: url("../images/bannersArticulos/Artículo\ Vinagre\ de\ Manzana.png");
}

.articulo5{
     background-image: url("../images/bannersArticulos/Artículo\ Centella\ Asiática.png");
}

.articulo6{
     background-image: url("../images/bannersArticulos/Artículo\ Ácidos\ Esenciales.png");
}

.articulo7{
     background-image: url("../images/bannersArticulos/Artículo\ Aceite\ de\ Coco.png");
}

.articulo8{
     background-image: url("../images/bannersArticulos/Artículo\ Antioxidantes.png");
}


@media (max-width: 700px){

     .banner-articulo h2{
          font-size: 28px;
     }

     .banner-articulo p{
          font-size: 16px;
     }

}
